@charset "utf-8";
/* CSS Document */
.container{
	height: 800px;
	width:auto;
	background-color: #FFF;
	background-image: url(../Images/sand-shade.jpg);
	background-repeat: repeat;
}

.textcontainer{
	height: 750px;
	width: 1002px;
	left: 150px;
	right: 200px;
	position: relative;
	background-color: rgba(0,0,0,0.7);
}
.footer {
	height: 30px;
	width: 1002px;
	left: 150px;
	right: 200px;
	position: relative;
	background-color: #000;
	padding-top:10px;
	font-family: "MS Serif", "New York", serif;
	font-size: 14px;
	color: #FFF;
	text-align:center;
}
.header{
	width: 1002px;
	height: 100px;
	float: left;
	background-color: #000;
	}
.navbar {
	width:1002px;
	height:30px;
	float:left;
}
.heading {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFF;
	text-align: center;
	top: 7px;
}

#Insert_logo {
	float: left;
	height: 95px;
	width: 180px;
}

#MenuBar1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.MenuList {
    float:left;
}

#guideline{
	text-align: center;
	font-style: italic;
	color:white;
	text-decoration: underline;
}
h2{
	text-align:center;
}
.editregion {
	height: 588px;
	width: 900px;
	font:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#FFF;
	line-height:30px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
.Menu{
	display:block;
	width:135px;
	font-weight:bold;
	color:white;
	background-color:#903;
	text-align:center;
	padding:4px;
	text-decoration:none;
}